<%- include("partials/header", { bot, user, path, title: `Settings | ${guild.name}` }) %>

<div class="container-sm center" style="margin-top: 30px;">
  <div class="d-grid gap-2 col-4 mx-auto">
    <% if (alert) { %>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div>
    <% } %>
    <h1 class="text-white"><%= guild.name %></h1>
    <hr>
    <form method="POST">
      <p class="h5 text-white" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefix:</p>
      <p class="disabled text-white">The prefix is used to run the bot commands. Example: <u><b><%= settings.prefix %>ping</b></u></p>
      <input type="text" class="form-control" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix.">
      <br><button type="submit" class="btn btn-secondary text-black">Save Settings</button>
    </form>
  </div>
</div>

<%- include("partials/footer") %>
